<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595413667012-4o637i31va9bso3phbo87a8fllvqkp95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595413667012-4o637i31va9bso3phbo87a8fllvqkp95</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>595413667012-jqn4snm20gro0fbd0lh0s6k17qbu807a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUK4LRQUFPP9phv4TjNI_dCBPPXQSESh0</string>
	<key>GCM_SENDER_ID</key>
	<string>595413667012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.christcovenantdeliveranceministry</string>
	<key>PROJECT_ID</key>
	<string>ccdm-global</string>
	<key>STORAGE_BUCKET</key>
	<string>ccdm-global.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595413667012:ios:362e9abed4009e673f0d91</string>
</dict>
</plist>